alembic==1.18.5
bcrypt==4.0.1
fastapi==0.139.0
passlib==1.7.4
psycopg2-binary==2.9.12
pydantic==2.13.4
pydantic-settings==2.14.2
pydantic_core==2.46.4
python-jose==3.5.0
python-multipart==0.0.32
SQLAlchemy==2.0.51
uvicorn==0.49.0
